@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #343436;
  --footer: #34343680;
  --card-bg: #e5e5e5;
  --bord-color: #72717159;
  --main-card: #e2e1e4;
  --max: #e2251a;
  --min: #0380cc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-footer: var(--footer);
  --color-cardBg: var(--card-bg);
  --color-borderColor: var(--bord-color);
  --color-mainCard: var(--main-card);
  --color-max: var(--max);
  --color-min: var(--min);
}

[data-theme="dark"] {
  --background: #343436;
  --foreground: #f3f3f3;
  --footer: #d6d6d680;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
